@import "../../../assets/styles/variables";

.tab {
    padding: .5em;
    text-align: center;
    background-color: $white;
    color: $primary;
    border-bottom: 3px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &.active  {
        color: $white;
        background-color: $primary;
        border-bottom: 3px solid $primary-blue;
    }
}
